/* Font Family */
.ff-tnr {
    font-family: 'Times New Roman', Times, serif;
}

.ff-arial {
    font-family: 'Arial', sans-serif;
}

.ff-helvetica {
    font-family: 'Helvetica', sans-seric;
}

.ff-verdana {
    font-family: 'Verdana', sans-serif;
}

.ff-trebuchet {
    font-family: 'Trebuchet MS', sans-serif;
}

.ff-gillsans {
    font-family: 'Gill Sans', sans-serif;
}

.ff-notosans {
    font-family: 'Noto Sans', sans-serif;
}

.ff-times {
    font-family: 'Times', Times New Roman, serif;
}

.ff-didot {
    font-family: 'Didot', serif;
}

.ff-georgia {
    font-family: 'Georgia', serif;
}

.ff-palatino {
    font-family: 'Palatino', URW Palladio L, serif;
}

.ff-bookman {
    font-family: 'Bookman', URW Bookman L, serif;
}

.ff-ncs {
    font-family: 'New Century Schoolbook', TeX Gyre Schola, serif;
}

.ff-at {
    font-family: 'American Typewriter', serif;
}

.ff-am {
    font-family: 'Andale Mono', monospace;
}

.ff-cn {
    font-family: 'Courier New', monospace;
}

.ff-c {
    font-family: 'Courier', monospace;
}

.ff-fm {
    font-family: 'FreeMono', monospace;
}

.ff-ocrastd {
    font-family: 'OCR A Std', monospace;
}

.ff-dvsm {
    font-family: 'DejaVu Sans Mono', monospace;
}

.ff-csms {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
}

.ff-ac {
    font-family: 'Apple Chancery', cursive;
}

.ff-bh {
    font-family: 'Bradley Hand', cursive;
}

.ff-bsmt {
    font-family: 'Brush Script MT', Brush Script Std, cursive;
}

.ff-sr {
    font-family: 'Snell Roundhand', cursive;
}

.ff-urwcl {
    font-family: 'URW Chancery L', cursive;
}

.ff-impact {
    font-family: 'Impact', fantasy;
}

.ff-luminari {
    font-family: 'Luminari', fantasy;
}

.ff-chalkduster {
    font-family: 'Chalkduster', fantasy;
}

.ff-jazzlet {
    font-family: 'Jazz LET', fantasy;
}

.ff-blippo {
    font-family: 'Blippo', fantasy;
}

.ff-stencilstd {
    font-family: 'Stencil Std', fantasy;
}

.ff-markerfelt {
    font-family: 'Marker Felt', fantasy;
}

.ff-trattatello {
    font-family: 'Trattatello', fantasy;
}

.ff-glitchinside {
    font-family: "GlitchInside", sans-serif
}

.ff-fasthands {
    font-family: "fasthands", sans-serif
}